.customCheckbox {
  border: var(--defaultBorder);
  border-radius: 20%;
  width: 15px;
  height: 15px;
  box-shadow: var(--box-shadow);
  background-color: var(--defaultBg);
  cursor: pointer;
  position: relative;
}

.defaultCheckbox:checked + .customCheckbox::after {
  transform: scale(1);
}

.defaultCheckbox:focus-visible + .customCheckbox {
  box-shadow: var(--focus-visible);
}

.customCheckbox::after {
  content: "";
  background-image: url(/componentss/Checkbox/assets/checkMark.svg);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
  transform: scale(0);
  transition: 80ms linear;
}
.defaultCheckbox {
  opacity: 0;
  top: 0;
  position: absolute;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.inputParent {
  cursor: pointer;
}
