.ui-radio {
  display: flex;
  align-items: center;
  gap: var(--radio-gap, 10px);
  cursor: pointer;
  color: var(--radio-fg, inherit);
}

.ui-radio__input {
  position: absolute;
  opacity: 0;
  top: 0;
}

@property --radio-dot-radius {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

.ui-radio__circle {
  width: var(--radio-size, 16px);
  height: var(--radio-size, 16px);
  border: var(--radio-border-width, var(--ui-border-width)) solid
    var(--radio-border-color, var(--ui-border-color));
  border-radius: var(--ui-radius-round);
  background-color: var(--radio-bg, var(--ui-bg));
  box-shadow: var(--ui-shadow);

  background-image: radial-gradient(
    circle at center,
    var(--radio-dot-color, var(--ui-fg)) 0,
    var(--radio-dot-color, var(--ui-fg)) var(--radio-dot-radius, 0px),
    transparent calc(var(--radio-dot-radius, 0px) * 1.12)
  );
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  transition: --radio-dot-radius var(--ui-duration-fast) ease-in;
}

.ui-radio__input:checked + .ui-radio__circle {
  --radio-dot-radius: calc(var(--radio-dot-size, 8px) / 2);
}

.ui-radio__input:focus-visible + .ui-radio__circle {
  box-shadow: var(--ui-focus-ring);
}

